* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #478997;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.main-container {
    position: relative;
    top: 0;
    left:0;
}

.search-form {
    background-color: #fff;
    display: flex;
    width: fit-content;
    left: 50%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #000;
    position: fixed;
    top: 1rem;
    transform: translateX(-50%);
}

.search {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 0.3rem;
    color: #ec6e4c;
}

.city-name {
    position: fixed;
    top: 4rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.7);
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    border-radius: 1rem;
    margin: 1rem auto;
    box-shadow: 0 0 0.5rem #000;
}

.city-name span {
    color: #eb1c1c;
    padding: 0.5rem;
    font-size: 0.7rem;
    border-radius: 1rem;
}

.status-container {
    top: 10rem;
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
}

.px-1 {
    padding: 0 1rem;
}

table {
    margin: 0 1rem;
    background-color: rgba(255,255,255,0.7);
    padding: 0.5rem;
    border-radius: 1rem;
    min-width: 20rem;
    text-align: center;
    box-shadow: 0 0 0.5rem #000;
}

.text-orange {
    color: #ec6e4c;
}

.text-grey {
    color: #48484a;
}

.city-icon {
    width: 5rem;
    height: 5rem;
}

.city-temp {
    font-size: 2rem;
    padding-left: 1rem;
}

.city-details {
    text-transform: uppercase;
    color: #48484a;
}