* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 120, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: fit-content;
    text-align: center;
    max-width: 40rem;
}

.form_label {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #610000;
}

.form_input {
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem #fff solid;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.form_button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.result_container {
    margin-bottom: 2rem;
}

.my_mood {
    font-size: 2.5rem;
    color: #fff;
}

.help_label {
    color: #eee;
}

.help_button_container button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.3rem;
    color: #fff;
    background-color: #000;
}

.error {
    color: rgb(240, 54, 54);
    background-color: rgb(242, 192, 192);
    padding: 0.5rem;
    width: fit-content;
    margin: 0.5rem auto;
}

.message {
    color: rgb(0, 136, 11);
    background-color: rgb(136, 220, 132);
    padding: 0.5rem;
    width: fit-content;
    margin: 0.5rem auto;
}

.loading {
    text-align: center;
}