:root {
    --primary-color: #20639B;
    --secondary-color: #3CAEA3;
    --accent-color: #F6D55C;

    --dark-color: #000;
    --light-color: #fff;
    --shadow-color: #333;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--accent-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    text-align: center;
    background-color: var(--light-color);
    padding: 2rem;
    border-radius: 1rem;
}

.form_label {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.form_input {
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem var(--primary-color) solid;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 2rem;
    text-align: center;
}

.form_button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--light-color);
    padding: 0.6rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0.2rem 0.2rem var(--shadow-color);
    border-radius: 0.3rem;
}

.form_button:active {
    box-shadow: none;
}

.result_container {
    margin-bottom: 2rem;
}

.my_mood {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.help_label {
    color: var(--primary-color);
    font-size: 1rem;
}

.help_button_container {
    display: flex;
    justify-content: space-evenly;
}

.help_button_container button {
    margin-top: 2rem;
    background-color: var(--secondary-color);
    border: none;
    color: var(--light-color);
    padding: 0.6rem;
    font-weight: bold;
    font-size: 1rem;
    width: 6rem;
    box-shadow: 0 0.2rem 0.2rem var(--shadow-color);
    border-radius: 0.3rem;
    margin: 0.5rem;
}

.error {
    color: rgb(240, 54, 54);
    background-color: rgb(242, 192, 192);
    padding: 0.5rem;
    width: fit-content;
    margin: 0.5rem auto;
}

.message {
    color: rgb(0, 136, 11);
    background-color: rgb(136, 220, 132);
    padding: 0.5rem;
    width: fit-content;
    margin: 0.5rem auto;
}

.loading {
    text-align: center;
}

.notif_button {
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0.5rem #000;
    color: rgb(223, 120, 120);
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.notif_button:active {
    box-shadow: none;
}

.notif_button:hover {
    opacity: 0.7;
}

.mood_container {
    border-bottom: 0.3rem solid var(--primary-color);
    margin-bottom: 3rem;
    padding: 1rem;
    text-align: center;
}

.back_button {
    margin-top: 1rem;
    background-color: var(--dark-color);
    border: none;
    color: var(--light-color);
    padding: 0.6rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0.2rem 0.2rem var(--shadow-color);
    border-radius: 0.3rem;
}