.header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: $accent-color-2;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0.05rem 0.2rem 0.2rem $shadow-color;

    button {
        // width: 3rem;
        // height: 3rem;
        background-color: transparent;
        border: none;
        color: $light-color;
        cursor: pointer;
        
        &:hover {
            color: $secondary-color;
        }
    }

    h1 {
        margin-left: 1rem;
        color: $light-color;
    }
}