.quotes_container {
    background-color: $light-color;
    color: $accent-color-1;
    box-shadow: 0 0.3rem 0.2rem $shadow-color;
    width: 100%;
    padding: 1.5rem;
    margin: 0.5rem 0;

    .quotes {
        display: flex;

        .quotes_actions {
            margin-right: 1rem;

            button {
                background-color: none;
                padding: 0;
                border-radius: 0.2rem;
                border: none;
                color: $primary-color;
                background-color: $accent-color-1;
                box-shadow: 0 0 0.2rem $shadow-color;

                &:hover {
                    opacity: 0.5;
                }

                &:active {
                    opacity: 1;
                }
            }
        }

        .quotes_content {
            font-family: 'Roboto Slab', serif;
            margin-bottom: 1rem;
        }
    }
}