.user_layout {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    height: 100vh;

    .container {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0.5rem;
        width: 100%;
        margin-top: 0;
    }
}

@media (min-width: 600px) {

}

@media (min-width: 960px) {
    .user_layout {
    
        .container {
            width: 80%;
            margin: 0 auto
        }
    }
}

@media (min-width: 1264px) {

}