* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    height: 100vh;
}

@media (min-width: 600px) {

}

@media (min-width: 960px) {
    
}

@media (min-width: 1264px) {

}