$primary-color: #F6F4E6;
$secondary-color: #FDDB3A;
$accent-color-1: #52575D;
$accent-color-2: #41444B;

$dark-color: #000;
$light-color: #fff;
$shadow-color: rgb(95, 95, 95);

$error-color: rgb(191, 38, 38);
$success-color: rgb(33, 202, 53);

$error-light-color: rgb(255, 218, 218);
$success-light-color: rgb(222, 255, 225);